<p id="notice"><%= notice %></p>

<h1>Bookmarkers</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Type</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarkers.each do |bookmarker| %>
      <tr>
        <td><%= bookmarker.url %></td>
        <td><%= bookmarker.type %></td>
        <td><%= bookmarker.category %></td>
        <td><%= link_to 'Show', bookmarker %></td>
        <td><%= link_to 'Edit', edit_bookmarker_path(bookmarker) %></td>
        <td><%= link_to 'Destroy', bookmarker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmarker', new_bookmarker_path %>
